[Desktop Entry]
Type=Application
Name=gammaQ (BETAKe)
Exec=xterm -title gammaQ -e /usr/bin/BETAKe.py 
Terminal=true
Icon=audio-card.png
Categories=AudioVideo;Recorder;
